@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/buttons";

$mainColor: #AFD4C7;
$breakPoint: 992px;

body {
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
}

.container-fluid {
	max-width: 1100px;
}

.flex-container {
	@media (min-width: $breakPoint) {
		display: flex;
	}
}

a {
	color: inherit;

	&:hover, &:focus {
		color: inherit;
	}
}

img {
	max-width: 100%;
}

h1 {
	@media (min-width: $breakPoint) {
		font-size: 55px;
	}
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 40px 0 0 0;
	line-height: 48px;
	color: #333;
	word-spacing: -15px;

	span {
		color: $mainColor;
	}
}

div.caption {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #666;
	@media (min-width: $breakPoint) {
		margin-left: 22px;
	}
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 20px 0;
	font-weight: 300;
}

h2.beam {
	margin-bottom: 40px;
	margin-left: -45px;
    display: inline-block;
    background: $mainColor;
    background: linear-gradient(to right, $mainColor , darken($mainColor, 10));
    padding: 10px 20px 10px 40px;
    color: #fff;
}

.pad {
	padding: 30px 0;
	@media (min-width: $breakPoint) {
		padding: 30px;
	}
}

#main {
	min-height: 100%;
}

#sidebar {

	min-height: 100%;
	background: $mainColor;

	color: #fff;

	.profile-picture {
		margin-left: -($grid-gutter-width / 2);
		margin-right: -($grid-gutter-width / 2);
		margin-bottom: 30px;
	}

	section {
		margin-bottom: 50px;

		ul {
			list-style: none;
			margin: 0 0 0 0;
			padding: 0;
		}
	}

	.contact {
		margin-top: 30px;

		ul {
			i.fa {
				display: inline-block;
				width: 20px;
			}
		}
	}

	.languages {
		
	}
}

.year {
	display: none;
	float: right;
	font-weight: bold;

	@media (min-width: 530px) {
		display: inline-block;
	}
}

#content-area {
	min-height: 100%;
	background: #fff;

	.intro {
		@media (min-width: 768px) {
			text-align: justify;
		}
		margin-top: 40px;
	}

	.projects {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		img {
			margin-bottom: 10px;
		}

		.description {
			@media (min-width: 768px) {
				text-align: justify;
			}
		}
	}

	.education {
		h3 {
			margin-bottom: 5px;
		}
	}
}
